* {
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: url(/static/img/download.png);
}
.center-body {
  position: relative;
  width: 500px;
  min-height: 650px;
  height: auto;
  border-radius: 15px;
  padding: 30px 10px;
  margin: 11px 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: url(/static/img/disease-background.jpg);
  border: 10px solid #01132b;
}

.inner-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Loading Bar Start */
#loadingBarContainer {
  display: none;
  margin-top: 20px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: black;
}
/* Loading Bar End */

.prediction {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-prediction {
  text-align: center;
  color: white;
  font-weight: 500;
  color: white;
  margin-bottom: 30px;
  padding: 7px 14px;
  background-color: #1f6491;
  display: inline-block;
  border-radius: 15px;
  border: 1px solid yellow;
}

.prediction-explanation {
  text-align: center;
  color: white;
  font-weight: 500;
  text-align: justify;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.disease-overview {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.disease-symptoms > div {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
.symptoms-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 15px 0;
  text-decoration: underline;
}

.symptoms-body {
  margin: 0 0 20px 0;
}

.symptoms-images {
  margin-left: 9px;
  height: 32px;
}

.symptoms-body > span {
  font-size: 17px;
  color: white;
  border-radius: 20px;
  padding: 5px 12px;
  font-weight: 400;
  background-color: red;
  margin: 3px 0;
  display: inline-block;
}

.disease-treatment {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.treatment-body {
  text-align: center;
  color: white;
  font-weight: 500;
  text-align: justify;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.tags-input {
  display: flex;
  flex-direction: column;
  min-width: 65%;
  max-width: 90%;
  padding: 5px;
  border: 3px solid #0f78e2;
  border-radius: 5px;
  background-color: lightblue;
}

.tags-input ul {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags-input li {
  display: inline-block;
  background-color: #0f78e2;
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 20px;
  font-weight: 400;
}

.tags-input input {
  border: none;
  font-size: 14px;
  padding: 5px;
}
.tags-input button[type="submit"] {
  background-color: #02a102;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.reset-button {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}
.reset-button:hover {
  background-color: #d20505;
}

.tags-input button[type="submit"]:hover {
  background-color: green;
}

/* Loading Bar Start */
#progress-bar {
  width: 300px;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 20px;
}

#progress {
  width: 0%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
/* Loading Bar End */

.version {
  position: absolute;
  color: white;
  bottom: 0px;
  right: 0px;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  background-color: #e80909;
  padding: 7px 7px 3px 9px;
  border-radius: 10px 0 5px 0;
}

/* Media Query Start */
@media (min-width: 0) and (max-width: 500px) {
  .tags-input {
    width: 100%;
  }
}
/* Media Query End */
