<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/lpu-icon.png">
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <section class="center-body">
        <img src="../static/img/lpu-icon.png" alt="logo"
            style="height: 150px;display: block;margin-left: auto;margin-right: auto;width: 150px;">
        <h2 style="text-align: center;color: white;font-weight: 500;">Disease Prediction</h2>
        <h3 style="text-align: center;color: wheat;font-weight: 400;">Please Enter Your Symptoms:</h3>
        <section class="inner-body" style="position: relative;">
            <div class="tags-input">
                <ul id="tags"></ul>
                <input type="text" placeholder="Enter Symptoms" id="tag-input" list="tag-suggestions" required>
                <datalist id="tag-suggestions">
                    <option value="Itching">
                    <option value="Skin Rash">
                    <option value="Nodal Skin Eruptions">
                    <option value="Continuous Sneezing">
                    <option value="Shivering">
                    <option value="Chills">
                    <option value="Joint Pain">
                    <option value="Stomach Pain">
                    <option value="Acidity">
                    <option value="Ulcers On Tongue">
                    <option value="Muscle Wasting">
                    <option value="Vomiting">
                    <option value="Burning Micturition">
                    <option value="Spotting  urination">
                    <option value="Fatigue">
                    <option value="Weight Gain">
                    <option value="Anxiety">
                    <option value="Cold Hands And Feets">
                    <option value="Mood Swings">
                    <option value="Weight Loss">
                    <option value="Restlessness">
                    <option value="Lethargy">
                    <option value="Patches In Throat">
                    <option value="Irregular Sugar Level">
                    <option value="Cough">
                    <option value="High Fever">
                    <option value="Sunken Eyes">
                    <option value="Breathlessness">
                    <option value="Sweating">
                    <option value="Dehydration">
                    <option value="Indigestion">
                    <option value="Headache">
                    <option value="Yellowish Skin">
                    <option value="Dark Urine">
                    <option value="Nausea">
                    <option value="Loss Of Appetite">
                    <option value="Pain Behind The Eyes">
                    <option value="Back Pain">
                    <option value="Constipation">
                    <option value="Abdominal Pain">
                    <option value="Diarrhoea">
                    <option value="Mild Fever">
                    <option value="Yellow Urine">
                    <option value="Yellowing Of Eyes">
                    <option value="Acute Liver Failure">
                    <option value="Fluid Overload">
                    <option value="Swelling Of Stomach">
                    <option value="Swelled Lymph Nodes">
                    <option value="Malaise">
                    <option value="Blurred And Distorted Vision">
                    <option value="Phlegm">
                    <option value="Throat Irritation">
                    <option value="Redness Of Eyes">
                    <option value="Sinus Pressure">
                    <option value="Runny Nose">
                    <option value="Congestion">
                    <option value="Chest Pain">
                    <option value="Weakness In Limbs">
                    <option value="Fast Heart Rate">
                    <option value="Pain During Bowel Movements">
                    <option value="Pain In Anal Region">
                    <option value="Bloody Stool">
                    <option value="Irritation In Anus">
                    <option value="Neck Pain">
                    <option value="Dizziness">
                    <option value="Cramps">
                    <option value="Bruising">
                    <option value="Obesity">
                    <option value="Swollen Legs">
                    <option value="Swollen Blood Vessels">
                    <option value="Puffy Face And Eyes">
                    <option value="Enlarged Thyroid">
                    <option value="Brittle Nails">
                    <option value="Swollen Extremeties">
                    <option value="Excessive Hunger">
                    <option value="Extra Marital Contacts">
                    <option value="Drying And Tingling Lips">
                    <option value="Slurred Speech">
                    <option value="Knee Pain">
                    <option value="Hip Joint Pain">
                    <option value="Muscle Weakness">
                    <option value="Stiff Neck">
                    <option value="Swelling Joints">
                    <option value="Movement Stiffness">
                    <option value="Spinning Movements">
                    <option value="Loss Of Balance">
                    <option value="Unsteadiness">
                    <option value="Weakness Of One Body Side">
                    <option value="Loss Of Smell">
                    <option value="Bladder Discomfort">
                    <option value="Foul Smell Of urine">
                    <option value="Continuous Feel Of Urine">
                    <option value="Passage Of Gases">
                    <option value="Internal Itching">
                    <option value="Toxic Look (typhos)">
                    <option value="Depression">
                    <option value="Irritability">
                    <option value="Muscle Pain">
                    <option value="Altered Sensorium">
                    <option value="Red Spots Over Body">
                    <option value="Belly Pain">
                    <option value="Abnormal Menstruation">
                    <option value="Dischromic  Patches">
                    <option value="Watering From Eyes">
                    <option value="Increased Appetite">
                    <option value="Polyuria">
                    <option value="Family History">
                    <option value="Mucoid Sputum">
                    <option value="Rusty Sputum">
                    <option value="Lack Of Concentration">
                    <option value="Visual Disturbances">
                    <option value="Receiving Blood Transfusion">
                    <option value="Receiving Unsterile Injections">
                    <option value="Coma">
                    <option value="Stomach Bleeding">
                    <option value="Distention Of Abdomen">
                    <option value="History Of Alcohol Consumption">
                    <option value="Fluid Overload.1">
                    <option value="Blood In Sputum">
                    <option value="Prominent Veins On Calf">
                    <option value="Palpitations">
                    <option value="Painful Walking">
                    <option value="Pus Filled Pimples">
                    <option value="Blackheads">
                    <option value="Scurring">
                    <option value="Skin Peeling">
                    <option value="Silver Like Dusting">
                    <option value="Small Dents In Nails">
                    <option value="Inflammatory Nails">
                    <option value="Blister">
                    <option value="Red Sore Around Nose">
                    <option value="Yellow Crust Ooze">
                </datalist>
                <form action="" style="text-align: center;" id="prediction-form" onsubmit="">
                    <button class="reset-button" onClick="refreshPage()">Reset</button>
                    <button type="submit" id="submitButton" style="margin-top: 10px;">Predict
                        Disease
                    </button>
                </form>
                <div id="loadingBarContainer">
                    <div class="progress-bar">
                        <div class="progress"></div>
                        <div class="progress-text"></div>
                    </div>
                </div>
            </div>
        </section>

        <form hidden action="{{ url_for('predict')}}" method="POST" id="second-prediction-form">
            <input name="symptoms" type="text" step="any" id="push-prediction" required>
            <button type="submit" id="second_Submit_Button">Submit</button>
        </form>

        <div class="prediction">
            <h1 class="main-prediction"></h1>
        </div>
        <div class="disease-overview">
            <h1 class="symptoms-title">Overview<img class="symptoms-images" src="/static/img/overview-icon.png" alt=""></h1>
            <h3 class="prediction-explanation"></h3>
        </div>
        <div class="disease-symptoms">
            <div>
                <h1 class="symptoms-title">Symptoms<img class="symptoms-images" src="/static/img/symptom-icon.png" alt=""></h1>
                <div class="symptoms-body"></div>
            </div>
        </div>
        <div class="disease-treatment">
            <h1 class="symptoms-title">Treatment<img class="symptoms-images" src="/static/img/treatment-icon.png" alt=""></h1>
            <h3 class="treatment-body"></h3>
        </div>
        <h6 class="version">V0.7</h6>
    </section>
</body>
<script src="../static/js/index.js"></script>

</html>